:root {
    --bg-color: hsl(0, 0%, 8%);
    --bg-color-card: hsl(0, 0%, 12%);
    --bg-color-button: hsl(0, 0%, 20%);
    --bg-text-color: white;
    --accent-color: hsl(75, 94%, 57%);

}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--bg-text-color);
    font-family: "Inter", sans-serif;
}

.main__container {
    display: flex;
    height: 94vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    text-align: center;
    margin: 0;
}

.profile__section {
    background-color: var(--bg-color-card);
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 35px;
    max-width: 400px;
}

.profile__section img {
    min-width: 30px;
    width: 30%;
    border-radius: 50%;
}

.profile__section h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile__section p:nth-child(3) {
    color: var(--accent-color);
    font-size: 10px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.profile__section p:nth-child(4) {
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 20px;
}

.button__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button__container button {
    border: 0;
    background-color: var(--bg-color-button);
    color: var(--bg-text-color);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    padding: 10px;
    min-width: 250px;
}

.button__container button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.button__container button a {
    text-decoration: none;
    color: var(--bg-text-color);
    font-weight: 500;
    font-size: 12px;
}

footer {
    background-color: var(--bg-color-card);
    padding: 20px;
}

footer a {
    text-decoration: none;
}

footer a:nth-child(2) {
    color: var(--accent-color);
}